* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-style: normal;
  height: 1500px;
  font-family: "Roboto", sans-serif;
  font-family: "Inter", sans-serif;
}

:root {
  --blue-color: #028fcc;
  --extreme-blue-color: #0477a8;
  --black-blue-color: #00557a;
  --blue-hover: #0073a5;
  --just-white: #fff;
  --letra-title: #333;
  --letra-body: #666;
}

/* ---------------------------------------------------------------
  -------------------------- HEADER ------------------------------
  --------------------------------------------------------------- */
header {
  margin-top: -10px;
}

.header--navegation__container {
  display: inline-flex;
  padding: 0px 25px;
  position: sticky;
  background-color: var(--blue-color);
  align-items: center;
  width: 100%;
}

.navegation--container__max-width {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}

.header--navegation__container .Systemwork-logo {
  width: 160px;
  height: 50px;
  position: relative;
  top: 5px;
}

.navegation--container__navbar {
  display: contents;
  position: relative;
  justify-self: end;
}

.navegation--container__navbar ul {
  margin-right: -10px;
  list-style: none;
  float: right;
}

.navegation--container__navbar li {
  display: inline-flex;
  background-color: var(--blue-king);
  margin: 0 2px;
}

.navegation--container__navbar li a {
  text-decoration: none;
  padding: 30px 25px;
  font-size: 1.8rem;
  color: var(--just-white);
}

.navegation--container__navbar li a:hover {
  background-color: var(--blue-hover);
}

#check-navbar {
  display: none;
}

.button-responsive-menu {
  display: none;
}

/* --------------------------------------------------------------------
---------------------------- Main -------------------------------------
----------------------------------------------------------------------- */

main {
  padding-top: 20px;
}

.main--section__services {
  margin-top: 10px;
}
